*log
*.lou
*.wcfg
CFD_rtl/CFD/*.txt
CFD_AXI_rtl/CFD_AXI.code-workspace
CFD_AXI_rtl/CFD_AXI/CFD_AXI.cache
CFD_AXI_rtl/CFD_AXI/CFD_AXI.hw
CFD_AXI_rtl/CFD_AXI/CFD_AXI.ip_user_files
CFD_AXI_rtl/CFD_AXI/CFD_AXI.sim
CFD_AXI_rtl/CFD_AXI/CFD_AXI.xpr
CFD_rtl/CFD.code-workspace
CFD_rtl/CFD.xpr.zip
CFD_rtl/CFD/CFDv2.cache
CFD_rtl/CFD/CFDv2.code-workspace
CFD_rtl/CFD/CFDv2.hw
CFD_rtl/CFD/CFDv2.ip_user_files
CFD_rtl/CFD/CFDv2.sim
CFD_rtl/CFD/CFDv2.xpr
CFD_rtl/CFD_modelsim
CFD_rtl/CFD_old
LUT_design.docx
bidwidths.xlsx
block_diagrams/.$CFD_block_diagram.drawio.bkp
block_diagrams/.$zero_cross_v2.drawio.bkp
block_diagrams/.$zero_cross_v2.drawio.dtmp
cfd_axi_stream_axi_lite_IP_sources_copy
literatura/
luzne_porownainia_lutow.docx
matlab/generated_data/*
matlab/testscript.m